/* --------------- Custom Properties -----------------*/

/* El selector root es la misma etiqueta html pero tiene mayor jerarquia */
:root {
  --darkest-blue: #243264;
  --darkest-blue-alpha: rgba(36, 50, 100, 0.8);
  --dark-blue: #1d3e8a;
  --medium-blue: #2781c1;
  --soft-blue: #7fbfea;
  --yellow: #ece43c;
  --orange: #f4b219;
  --orange-alpha: rgba(244, 178, 25, 0.8);
  --red: #e7323b;
  --red-alpha: rgba(231, 50, 59, 0.8);
  --green: #69b42e;
  --black: #444;
  --white: #fff;
  --gray-light: #f0f0f0;
  --alpha-color: rgba(36, 50, 100, 0.6);
  --max-width: 1200px;
  --header-height: 8rem;
  --shadow-text: 2px 2px 8px rgba(0, 0, 0, 0.47);
  --box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: Neris-Light;
  src: url("../fonts/Neris-Light.otf");
}

@font-face {
  font-family: Neris-Light-Italic;
  src: url("../fonts/Neris-LightItalic.otf");
}

@font-face {
  font-family: Neris-Regular;
  src: url("../fonts/Neris-Light.otf");
}

@font-face {
  font-family: Neris-Regular-Italic;
  src: url("../fonts/Neris-LightItalic.otf");
}

@font-face {
  font-family: Neris-SemiBold;
  src: url("../fonts/Neris-SemiBold.otf");
}

@font-face {
  font-family: Neris-SemiBold-Italic;
  src: url("../fonts/Neris-SemiBoldItalic.otf");
}

@font-face {
  font-family: Neris-Bold;
  src: url("../fonts/Neris-Black.otf");
}

@font-face {
  font-family: Neris-Bold-Italic;
  src: url("../fonts/Neris-BoldItalic.otf");
}

/* --------------- Reset -----------------*/

html {
  box-sizing: border-box;
  font-family: Neris-Light, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* esta propiedad me quita el scroll horizontal 
  sin importar el tamaño de la imagen*/
  overflow-x: hidden;
  color: var(--black);
}

a {
  color: var(--medium-blue);
  transition: all 0.5s ease-out;
  font-size: 1.7rem;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 3.5rem;
  font-family: Neris-Bold;
  color: var(--dark-blue);
}

h2 {
  margin: 0;
  font-size: 3rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-size: 1.75rem;
}

h5 {
  margin: 0;
  font-size: 1.5rem;
}

h6 {
  margin: 0;
  font-size: 1.25rem;
}

hr {
  margin: 4rem 0;
  border: 0.2rem solid var(--soft-blue);
}
/*Para hacer todas las imágenes responsivas
con respecto a su contenedor*/
img {
  max-width: 100%;
  height: auto;
}

p,
li {
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.6;
}

/* --------------- Components -----------------*/

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--darkest-blue);
  width: 100%;
}

.header > div {
  max-width: 25rem;
  padding: 2rem;
}

.header > div > img {
  width: 100%;
}

.header > h1 {
  color: var(--soft-blue);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.container ol {
  margin: 0 1.5rem;
  padding: 1rem;
}

.container h2 {
  margin-top: 2rem;
}

.container-solutions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-center {
  text-align: center;
}

.code-box {
  background-color: var(--gray-light);
  border-radius: 1rem;
  white-space: pre-line;
  word-break: break-word;
  padding: 1.5rem;
}

.code-box code {
  color: var(--black);
}

.btn-up {
  position: relative;
  float: right;
}

/* --------------- Utilities -----------------*/

.box-shadow {
  box-shadow: 4px 16px 2px rgba(0, 0, 0, 0.25);
}

/* --------------- Site Styles -----------------*/

.code-title {
  color: var(--medium-blue);
}

/* --------------- Media Query Desktop -----------------*/

@media screen and (min-width: 768px) {
  .code-box {
    white-space: pre;
  }
  .header > h1 {
    font-size: 3.5rem;
  }
}
